# SMTP Configuration
SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_SECURE=true

# Email Authentication
SMTP_USER=info@revotekelevators.com
SMTP_PASS=Hella@2288

# Email Settings
SMTP_FROM_EMAIL=info@revotekelevators.com
CONTACT_EMAIL=revotekservices@gmail.com
